[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-docx = "*"
google-cloud-translate = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
requests = "*"
urllib3 = "*"
lxml = "*"
pipenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
